// Global variables
$green-semi-transparent: rgba(0, 128, 0, 0.2);
$maroon: rgba(102, 0, 0, 1.0);
$maroon-semi-transparent: rgba(102, 0, 0, 0.4);

$important: rgba(204, 51, 0, 0.2);

// Background images are all located /assets/images/background
// Alternatives available are escheresque.png, az-subtle.png
// Repeating backgrounds found at subtlepatterns.com, a great styling resource
$background-image: url("/assets/images/background/escheresque.png") repeat left top;