// SASS stylesheet for web app
// For more on SASS syntax see http://sass-lang.com/guide

// All of our global color variables will be held in this file: _colors.scss
@import 'colors';

// Mixins for cross-platform continuity
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Header
div#header {
	padding: 5px;
	display: block;
	border-bottom: 4px solid $header-border-color;
	// background: $header-background-color;
	overflow: auto;
	color: $header-text-color;
	p {
		float: left;
		display: inline-block;
		font-variant: small-caps;
		font-size: 29px;
		margin: 10px;
		font-weight: bold;
	}
	.nav-button {
		float: left;
		display: inline-block;
		margin: 10px;
		float: right;
	}
  	#logout, #login, #my-account, #manage{
    	float: right;
  	}
}

body {
	background: #ffffff $background-image;
}

h1 { 
	margin: 30px; 
}
a {
	text-decoration: none;
	&:link, &:visited, &:hover, &:active {
		color: inherit;
	}
}

.content {
	border: 4px solid $content-border-color;
	@include border-radius(10px);
	margin: 10px;
	padding: 10px;
	// Instead of floating left, use class type left-float
	// float: left;
}
.left-float { float: left; }
.right-float { float: right; }

.center {
	margin-left: auto;
	margin-right: auto;
}

p.center, a.center, h1.center, h2.center, h3.center {
	text-align:center;
}

img.center {
	display: block;
}

.margined {
	margin: 20px;
}

.small-caps {
	font-variant: small-caps;
}

.nav-button {
	font-variant: small-caps;
	font-weight: bold;
	text-align:center; 
	text-decoration: none;
	border: 2px solid;
	@include border-radius(10px);
	padding: 5px;
	margin: 10px 0;

	&:link, &:visited {
		color: $nav-button-text-color;
		border-color: $nav-button-border-color;
		background: $nav-button-background;
	}

	&:hover, &:active {
		color: $nav-button-text-color-hover;
		border-color: $nav-button-border-color-hover;
		// Transparent "web green"
		background: $nav-button-background-hover;
	}
}

// Footer
div#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: $footer-background-color;
	color: $footer-text-color;
	border-top: 4px solid $footer-border-color;
	padding: 5px;
	p {
		font-variant: small-caps;
		padding: 5px;
		font-weight: bold;
	}
}

// Data insertion
.input-error {
	color: red;
}

.carousel-inner > .item > .caro  {
	height: 500px;	
	margin-left: auto;
	margin-right: auto;
}