/* line 16, ../sass/screen.scss */
div#header {
  padding: 5px;
  display: block;
  border-bottom: 4px solid #660000;
  overflow: auto;
  color: black;
}
/* line 23, ../sass/screen.scss */
div#header p {
  float: left;
  display: inline-block;
  font-variant: small-caps;
  font-size: 29px;
  margin: 10px;
  font-weight: bold;
}
/* line 31, ../sass/screen.scss */
div#header .nav-button {
  float: left;
  display: inline-block;
  margin: 10px;
  float: right;
}
/* line 37, ../sass/screen.scss */
div#header #logout, div#header #login, div#header #my-account, div#header #manage {
  float: right;
}

/* line 42, ../sass/screen.scss */
body {
  background: #ffffff url("/assets/images/background/escheresque.png") repeat left top;
  margin-bottom: 60px;
}

/* line 47, ../sass/screen.scss */
h1 {
  margin: 30px;
}

/* line 50, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 52, ../sass/screen.scss */
a:link, a:visited, a:hover, a:active {
  color: inherit;
}

/* line 57, ../sass/screen.scss */
.content {
  border: 4px solid rgba(102, 0, 0, 0.4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

/* line 65, ../sass/screen.scss */
.left-float {
  float: left;
}

/* line 66, ../sass/screen.scss */
.right-float {
  float: right;
}

/* line 68, ../sass/screen.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 73, ../sass/screen.scss */
p.center, a.center, h1.center, h2.center, h3.center {
  text-align: center;
}

/* line 77, ../sass/screen.scss */
img.center {
  display: block;
}

/* line 81, ../sass/screen.scss */
.margined {
  margin: 20px;
}

/* line 85, ../sass/screen.scss */
.small-caps {
  font-variant: small-caps;
}

/* line 89, ../sass/screen.scss */
.nav-button {
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
}
/* line 99, ../sass/screen.scss */
.nav-button:link, .nav-button:visited {
  color: black;
  border-color: black;
  background: transparent;
}
/* line 105, ../sass/screen.scss */
.nav-button:hover, .nav-button:active {
  color: black;
  border-color: black;
  background: rgba(102, 0, 0, 0.4);
}

/* line 114, ../sass/screen.scss */
div#footer {
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(102, 0, 0, 0.4);
  color: black;
  border-top: 4px solid #660000;
  padding: 5px;
}
/* line 122, ../sass/screen.scss */
div#footer p {
  font-variant: small-caps;
  padding: 5px;
  font-weight: bold;
}

/* line 130, ../sass/screen.scss */
.input-error {
  color: red;
}

/* line 134, ../sass/screen.scss */
.carousel-inner > .item > .caro {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
